.first-title {
    text-align: center;
    font-size: 20px;
}
.info-detail{
    font-size: 20px;
    height:60px;
    line-height: 60px;
}
.info-detail a{
    text-underline-color: black;
    text-decoration: underline;
}



